<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.typekit.net/sgp2rio.css">
    <link rel="stylesheet" href="/_assets/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container{% if templateClass %} {{ templateClass }} {% endif %}">
      {{ content }}
    </div>

    <script type="text/javascript" src="_assets/js/scripts.js"></script>
  </body>
</html>